pipeline/pipeline_alex14.json
{
	"name": "pipeline_alex14",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('var_array_rand')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[insert_outcome_random_number]",
								"storedProcedureParameters": {
									"datetime_insert": {
										"value": "@formatDateTime(utcnow(), 'yyyyMMdd-HHmmss')",
										"type": "String"
									},
									"outcome": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "dbalex",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(variables('var_array_rand')),10)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_array_rand",
								"value": {
									"value": "@rand(0,1000)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('var_array_rand')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(variables('var_array_rand'),900)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_array_rand": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}