pipeline/pipeline_alex10.json
{
	"name": "pipeline_alex10",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "australia_cities2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"exists",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[insert_object_metadata]",
					"storedProcedureParameters": {
						"metadata_type": {
							"value": {
								"value": "lastModified",
								"type": "Expression"
							},
							"type": "String"
						},
						"object_metadata": {
							"value": "@activity('Get Metadata1').output.lastModified",
							"type": "String"
						},
						"object_name": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dbalex",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}