pipeline/pipeline_alex4.json
{
	"name": "pipeline_alex4",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.australia_cities2 where no_state='@{pipeline().parameters.state}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ID_CITY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NO_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NO_COUNTRY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NO_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NO_CITY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NO_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NO_STATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SALES",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SALES",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DT_UPDATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DT_UPDATE",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "australia_cities",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "australian_cities_3",
						"type": "DatasetReference",
						"parameters": {
							"state": {
								"value": "@pipeline().parameters.state",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID_CITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ID_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "POP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "population2",
						"type": "DatasetReference",
						"parameters": {
							"state": {
								"value": "@pipeline().parameters.state",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "population",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_state",
					"value": "VIC"
				}
			},
			{
				"name": "Copy data3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID_CITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ID_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "POP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "population2",
						"type": "DatasetReference",
						"parameters": {
							"state": {
								"value": "@variables('var_state')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "population",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"state": {
				"type": "string"
			}
		},
		"variables": {
			"var_state": {
				"type": "String"
			}
		},
		"annotations": []
	}
}