adfalex/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfalex"
		},
		"blobstoragealex_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blobstoragealex'"
		},
		"containeralex_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'containeralex'"
		},
		"dbalex_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dbalex'"
		},
		"containeralex_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccountalexpt253.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/blobstoragealex')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blobstoragealex_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/containeralex')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('containeralex_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('containeralex_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbalex')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('dbalex_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_alex14')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[insert_outcome_random_number]",
										"storedProcedureParameters": {
											"datetime_insert": {
												"value": {
													"value": "@formatDateTime(utcnow(), 'yyyyMMdd-HHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"outcome": {
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "dbalex",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(length(variables('var_array_rand')),100)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_array_rand",
										"value": {
											"value": "@rand(0,1000)",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('var_array_rand')",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(item(),900)",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"var_array_rand": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbalex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbalex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_city",
						"type": "int",
						"precision": 10
					},
					{
						"name": "no_country",
						"type": "varchar"
					},
					{
						"name": "no_city",
						"type": "varchar"
					},
					{
						"name": "sales",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dt_update",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "australia_cities"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbalex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "AUSTRALIA_CITIES2.txt",
						"fileSystem": "containeralex"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID_CITY",
						"type": "String"
					},
					{
						"name": "NO_COUNTRY",
						"type": "String"
					},
					{
						"name": "NO_CITY",
						"type": "String"
					},
					{
						"name": "NO_STATE",
						"type": "String"
					},
					{
						"name": "SALES",
						"type": "String"
					},
					{
						"name": "DT_UPDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities2_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbalex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "australia_cities2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbalex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities2_txt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "containeralex"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities_4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"state": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('australian_cities_', dataset().state,'.txt') ",
							"type": "Expression"
						},
						"fileSystem": "containeralex"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID_CITY",
						"type": "String"
					},
					{
						"name": "NO_COUNTRY",
						"type": "String"
					},
					{
						"name": "NO_CITY",
						"type": "String"
					},
					{
						"name": "SALES",
						"type": "String"
					},
					{
						"name": "DT_UPDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities_avro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "australia_cities.avro",
						"fileSystem": "containeralex"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities_bin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "australia_cities.bin",
						"fileSystem": "containeralex"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "australia_cities.json",
						"fileSystem": "containeralex"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities_orc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Orc",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "australia_cities.orc",
						"fileSystem": "containeralex"
					},
					"enablePhysicalSchema": true
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "australia_cities.parquet",
						"fileSystem": "containeralex"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australia_cities_txt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "AUSTRALIA_CITIES.txt",
						"fileSystem": "containeralex"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID_CITY",
						"type": "String"
					},
					{
						"name": "NO_COUNTRY",
						"type": "String"
					},
					{
						"name": "NO_CITY",
						"type": "String"
					},
					{
						"name": "SALES",
						"type": "String"
					},
					{
						"name": "DT_UPDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/australian_cities_3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"state": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('australian_cities_', dataset().state, '-', formatDateTime(utcnow(), 'yyyyMMdd-HHmmss'),'.txt')",
							"type": "Expression"
						},
						"fileSystem": "containeralex"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID_CITY",
						"type": "String"
					},
					{
						"name": "NO_COUNTRY",
						"type": "String"
					},
					{
						"name": "NO_CITY",
						"type": "String"
					},
					{
						"name": "SALES",
						"type": "String"
					},
					{
						"name": "DT_UPDATE",
						"type": "String"
					},
					{
						"name": "LOAD_DATETIME",
						"type": "String"
					},
					{
						"name": "USER",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/employee_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbalex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "employeedata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbalex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/employee_data_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "containeralex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee_data.json",
						"fileSystem": "containeralex"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Employee_Data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Id": {
										"type": "integer"
									},
									"Name": {
										"type": "string"
									},
									"Dep": {
										"type": "integer"
									},
									"Salary": {
										"type": "integer"
									},
									"Projects": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"ProjectId": {
													"type": "integer"
												},
												"Role": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/containeralex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/outputdataflow1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbalex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "outputdataflow1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbalex')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/population')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbalex",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "population"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbalex')]"
			]
		}
	]
}